.formContainer {
    display: flex;
    width: 100vw;
    justify-content: center;
    flex-direction: row;
}


.form {
    width: 80%;
    border-radius: 10px;
    display: flex;
    padding: 10px 20px;
    background-color: white; /* Light gray background */
    justify-content: center;
}

.searchInput {
    flex: 1;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 10px; 
    font-size: 16px;
    outline: none;
}

.searchButton {
    padding: 10px 20px;
    margin-left: 5px;
    border: none;
    border-radius: 10px; 
    background-color: black; 
    color: #ffffff; 
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.searchButton:hover {
    background-color: red; /* Darker blue on hover */
}